<div class="users-new">
  <img src="telos_top.jpeg">
  <div class="container">
    <div class="form-heading-signup-login">Sign Up</div>
    <div class="form users-form">
      <div class="form-body-signup">
        <%= form_tag("/users/create") do%>
          <p>Username:</p>
          <input name="name" value="<%= @name %>">
          <p>Email Address:</p>
          <input name="email" value="<%= @email %>">
          <p>Password:</p>
          <input name="password" type="password">
          <p>Password (Confirmation):</p>
          <input name="password_confirmation" type="password">
          <div class="button">
            <input type="submit" value="Sign Up">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
