<div class="main users-index">
  <div class="container-users-index">
    <% if @my_users.length == 0 %>
      <div class="no-follower">Oops, s/he is not followed by anyone.<div>
    <% end %>
    <% @my_users.each do |user|%>
      <div class="users-index-item">
        <div class="user-left">
          <img src="<%= "/user_images/#{user.image_name}" %>">
        </div>
        <div class="user-right">
          <%= link_to(user.name, "/users/#{user.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
