<div class="about-main">
  <img src="telos_top.jpeg">
  <h2>What's TELOS?</h2><br>
  <div class="description-box">
    <p>
        1. The most important thing for language learning is to memorize AS MANY VOCABULARY AS
        YOU CAN. Existing vocabulary books or apps are suitable for someting like exam preperation,
        yet they normally have only fixed number of words to memorize. That's what I had wanted to
        resolve by developing this app, TELOS.
    </p>
    <p>
        2. TELOS is totally different from typical vocabulary apps. There is no upper-bound, and
        it looks more like Twitter. Words list grows as you post new words. Tags are used to
        categorize words. You can also compare your definition of a word with others'
        to grasp the multiple meanings of a single word.
    </p>
    <p>
        3. The usage of TELOS depends on one's purpose of using it, but the recommended usage is
        to use it as a memo app. Whenever you encounter an unknown word, you just post it with its
        definition and a sample sentence. That's it! Now you can categorize or edit
        your post later on to solidify your understanding of the word.
    </p>
    <p>
        4. By the way, TELOS is a philosophical term meaning "goal" or "purpose." I named it as
        it is to remind users that having a purpose is the fastest way to master a foreign language.
        Language is just a tool. "What's your motivation for learning
        that language?" That's the question I would like you to consider before using TELOS.
    </p>
    <p>
        5. That's all for now. Check out this page frequently to see the latest updates. Good luck,
        and enjoy your vocabulary journey with TELOS!
    </p>
  </div>
</div>
