<div class="main about-main">
  <h2>What's TELOS?</h2><br>
  <p>
    単語アプリ・TELOSは、Twitterのような感覚で気軽に単語が覚えられる、
    夢のようなアプリです。<br>
    単語とその意味を呟くだけ。あとは、他のユーザーがその単語をカテゴライズしてくれます。<br>
    あなただけでなく、ユーザーみんなで1つの大きな単語帳を作り上げましょう！<br>
  </p>
</div>
