<div class="about-main">
  <img src="telos_top.jpeg">
  <h2>What's TELOS?</h2><br>
  <p>
    Facebook connects more than 2 billion people from all around the globe, so to speak.
    But we're not connected in the true sense just because we speak different languages.
    Surely, auto-translators like Google Translate can be useful these days, yet they're
    designed for temporary use only. Then, what we really have to do to remove these language
    borders is to leran foreign languages on our own.<br>
    That's why I started developing TELOS. This is currently just a Twitter-like Vocabulary app,
    but will be providing a platform for studying multi languages, not just for memorizing
    vocabs, but also for studying grammar, writing essays and such. I hope this project helps
    people get connected without realizing language borders prevalent in the world today.<br>
    --- Seiya Kobayashi
  </p>
</div>
