<div class="about-main">
  <h2>What's TELOS?</h2>
  <p>
    Have been struggling to memorize English vocabularies?
    Have been looking for something that makes your life easier?
    If it sounds like you, then you should defenitely use TELOS!
  </p>
</div>
