<div class="main top-main">
  <div class="top-message">
    <h2>TELOS</h2>
    <p>
      <div class="top-description-1">
        Twitter-like Vocabulary App. Inspired by the concept of Blockchain.
      </div><br>
      <div class="top-description-2">
        ADD. CATEGORIZE. CREATE.<br><br>
        Sign Up Today!
      </div>
    </p>
  </div>
</div>
