<div class="top-main">
  <div class="top-message">
    <img src="telos_top.jpeg">
    <h2>TELOS</h2>
    <p>
      <div class="top-description-1">
        Dynamic. Data-Driven. Sharable.<nav></nav>
        The Best Vocabulary-Building App for Everyone.
      </div>
      <div class="top-description-2">
        Developed by Seiya Kobayashi
        under <a href="https://opensource.org/licenses/MIT">MIT License</a>.
      </div>
    </p>
  </div>
</div>
