<div class="top-main">
  <div class="top-message">
    <img src="telos_top.jpeg">
    <h2>TELOS</h2>
    <p>
      <div class="top-description-1">
        Future Platform for language learning.
      </div>
      <div class="top-description-2">
        "We just have to get our hands dirty,<br>
        otherwise we do nothing."
      </div>
    </p>
  </div>
</div>
