<div class="main tags-index">
  <div class="container-tags-index">
    <div class="tags-buttons">
      <button><%= link_to("All", "/tags/index") %></button>
      <button><%= link_to("Following Tags", "/tags/index/#{@current_user.id}") %></button>
    </div>
    <!-- Show all tags in descending order -->
    <% if @tags_distinct.empty? %>
      <div></div>
    <% else %>
      <% @tags_distinct.reverse.each do |tag|%>
        <div class="tags-index-item">
          <%= link_to("# #{tag.label}", "/tags/#{tag.group_id}") %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
