<div class="main tags-index">
  <div class="container-tags-index">
    <!-- Show all tags in descending order -->
    <% if @tags_new.empty? %>
      <div></div>
    <% else %>
      <% @tags_new.reverse.each do |tag|%>
        <div class="tags-index-item">
          <%= link_to("# #{tag.label}", "/tags/#{tag.group_id}") %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
