<div class="main tags-index">
  <div class="container">
    <!-- Show all tags in descending order -->
    <% @tags_new.reverse.each do |tag|%>
      <div class="tags-index-item">
          <%= link_to("# #{tag.label}", "/tags/#{tag.id}") %>
      </div>
    <% end %>
  </div>
</div>
