<div class="main tags-new">
  <div class="container">
    <h1 class="form-heading">Attach Tags to Post!</h1>
    <!-- Redirect to "/tags/create" when "Add" button is clicked -->
    <%= form_tag("/posts/#{@post.id}/tags/create") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <input name = "label" value = <%= @tag.label %>>
          <div class="button">
            <input type="submit" value="Add">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
