<div class="main tags-new">
  <div class="container">
    <!-- Redirect to ".../tags/edit" when "Update" button is clicked -->
    <h1 class="tag-heading">Edit Tags</h1>
    <%= form_tag("/posts/#{@post.id}/tags/edit") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error"><%= message %></div>
          <% end %>
          <textarea name="tags"><%= @tags %></textarea>
          <div class="button"><input type="submit" value="Update"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
