<% if Like.find_by(user_id: @current_user.id, post_id: post.id) != nil %>
  <%= link_to likes_delete_path(:post_id => post.id), remote: true do %>
    <i class="fas fa-thumbs-up liked"></i>
  <% end %>
  <% likes = Like.where(post_id: post.id) %>
  <% num_of_likes = likes.length %>
  <% if num_of_likes != 0 %>
    <div class="num-of-likes-liked">
      <%= num_of_likes %>
    </div>
  <% end %>
<% else %>
  <%= link_to likes_create_path(:post_id => post.id), remote: true do %>
    <i class="fas fa-thumbs-up not-liked"></i>
  <% end %>
  <% likes = Like.where(post_id: post.id) %>
  <% num_of_likes = likes.length %>
  <% if num_of_likes != 0 %>
    <div class="num-of-likes-not-liked">
      <%= num_of_likes %>
    </div>
  <% end %>
<% end %>
