<div class="main posts-edit">
  <div class="container-post-edit">
    <h1 class="post-edit-heading">Modify Your Post</h1>
    <%= form_tag("/posts/#{@post.id}/update") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <textarea name = "content"><%= @post.content %></textarea>
          <div class="button">
            <input type="submit" value="Save">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
