<div class="main posts-new">
  <div class="container">
    <h1 class="posts-new-heading">Create a New Post</h1>
    <!-- Redirect to "/posts/create" when "Post" button is clicked -->
    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <div class="form-inputs">
            <p>Word/Phrase (単語/フレーズ)</p>
            <input name = "word" placeholder = "e.g.) Apple" required>
            <p>Definition/Explanation (意味/説明)</p>
            <input name = "definition" placeholder = "e.g.) リンゴ " required>
            <p>(Optional*) Sample Sentence (例文)</p>
            <textarea name = "sentence" placeholder = "e.g.) I have an apple. "></textarea>
          </div>
          <div class="button">
            <input type= "submit" value = "Post">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
