/*
 *= require_self
 *= require_tree .
 */

/*** Setups ***/

* {
  box-sizing: border-box;
}

html {
  font: 100% / 1.5 'Avenir Next', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', sans-serif;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2a2e30;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: double;
  cursor: pointer;
}

form input[type="submit"]:hover {
  opacity: 0.8;
}

/*** Common Layout ***/

body {
  color: #2a2e30;
  background-color: #fffef9;
  margin: 0;
  min-height: 100vh;
}

body #wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  color: #2a2e30;
  background-color: #fffef9;
  position: absolute;
  top: 70px;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.container {
  max-width: 700px;
  margin: 80px auto;
  padding: 0 15px;
  clear: both;
}

/*** Header ***/

header {
  position: fixed;
  width: 100vw;
  height: 9vh;
  z-index: 5;
  background-color: #282826;
}

.header-left * {
  float: left;
  color: white;
}

.header-title * {
  font-size: calc(11px + 1.8vmin);
  margin: 2.3vh 0 0 2vw;
}

.header-title:hover {
  opacity: 0.8;
}

.header-partition {
  font-size: calc(6px + 1.5vmin);
  margin: 2.9vh 0 0 0.7vw;
}

.header-about * {
  font-size: calc(9px + 0.8vmin);
  margin: 3.3vh 0 0 0.8vw;
}

.header-about:hover {
  opacity: 0.8;
}

.header-right {
  float: right;
  margin: 0.3vh 2.5vw 0 0;
}

.header-right li {
  float: left;
  line-height: 9vh;
  padding-left: 1.2vw;
}

.header-right a {
  float: left;
  color: white;
  font-size: calc(9px + 1.1vmin);
}

.header-right a:hover {
  opacity: 0.8;
}

.header-right .fa {
  float: left;
  color: white;
  line-height: 9vh;
  font-size: calc(10px + 2.2vmin);
}

.header-right img {
  width: calc(10px + 3vmin);
  height: calc(10px + 3vmin);
  border-radius: 50%;
  margin: 2.2vh 0 0;
  object-fit: cover;
}

.logged-in {
  display: none;
}

li input {
  border-style: double;
  color: white;
  background-color: transparent;
  height: 3.4vh;
  letter-spacing: 1px;
}

/*** Flash ***/

.flash-box {
  width: 100vw;
  height: 5vh;
  display: inline-block;
  color: white;
  background: rgb(119, 119, 119);
  text-align: center;
  position: relative;
  top: 9vh;
  z-index: 2;
  opacity: 0.9;
}

.flash {
  width: 96vw;
  float: left;
  padding: 0.5em 0 0.5em 4em;
  font-size: calc(7px + 1vmin);
}

.flash-close {
  width: 4vw;
  float: left;
  background: rgb(160, 160, 160);
  padding: 0.8vh 0;
  font-size: calc(10px + 1vmin);
}
