// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* posts/index */

.posts-index {
  padding: 20px 10px;
}

.container-posts-index {
  max-width: 800px;
  margin: 50px auto;
  clear: both;
}

.posts-index-item {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px #898882;
}

.post-left {
  display: block;
  float: left;
  width: 20%;
  text-align: center;
  padding: 8px 20px 0 20px;
  word-wrap: break-word;
}

.post-left img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
  font-size: 15px;
}

.post-user-name a:hover {
  color: #9b9b9b;
}

.post-right {
  display: block;
  float: left;
  width: 80%;
  text-align: left;
  padding: 10px 50px 0 0;
  word-wrap: break-word;
}

.post-likes {
  margin-top: 5px;
  font-size: 15px;
  color: grey;
}

.post-likes .liked {
  color: #FA3A3A;
}

/* posts/show */

.posts-show {
  padding: 20px 10px;
}

.container-posts-show {
  max-width: 750px;
  margin: 50px auto;
  clear: both;
}

.posts-show-item {
  padding: 40px 50px;
  background-color: white;
  box-shadow: 0 2px 4px #898882;
  overflow: hidden;
  word-wrap: break-word;
}

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 2px 4px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.post-user-name-show a {
  vertical-align: middle;
  font-weight: 600;
  font-size: 25px;
  margin-left: 15px;
}

.post-user-name-show a:hover {
  color: #9b9b9b;
}

.posts-show-item p {
  font-size: 23px;
  margin: 20px 5px;
}

.post-tag {
  margin-left: 5px;
  word-wrap: break-word;
}

.post-tag a {
  font-size: 15px;
}

.post-tag a:hover {
  opacity: 0.6;
}

.post-like .not-liked {
  font-size: 18px;
  float: right;
  color: black;
}

.post-like .not-liked:hover {
  opacity: 0.6;
}

.post-like .liked {
  font-size: 18px;
  float: right;
  color: red;
}

.post-like .liked:hover {
  opacity: 0.6;
}

.post-like .num-of-likes {
  font-size: 13px;
  float: right;
  padding-top: 5px;
  padding-left: 4px;
}

.post-time {
  color: #9b9b9b;
  margin: 15px 0 0 5px;
}

.post-menus {
  float: right;
}

.post-menus a {
  color: #9b9b9b;
  text-decoration: underline;
  font-size: 15px;
}

.post-menus a:hover {
  opacity: 0.6;
}

/* posts/edit */

.posts-edit {
  padding: 20px 10px;
}

.container-post-edit {
  margin: 20px;
}

.post-edit-heading {
  text-align: center;
  margin: 0 0 20px;
  font-size: 35px;
  color: #232321;
}

/* posts/new */

.posts-new {
  padding: 20px 10px;
}

.container-posts-new {
  margin: 20px;
}

.posts-new-heading {
   text-align: center;
   margin: 0 0 20px;
   font-size: 35px;
   color: #232321;
}

.posts-new textarea {
  font-size: 14px;
  padding: 8px;
  min-height: 80px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 15px;
  opacity: 0.8;
}

.form-inputs input {
  margin: 8px 0px;
  opacity: 0.8;
}

.form-inputs p {
  font-size: 14px;
  margin: 8px 0px 0px 0px;
}

::placeholder {
  color: #BBBBBB;
}

.button {
  text-align: center;
  margin-bottom: 10px;
}
