// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* tags/index ================================ */

.tags-index {
  padding: 20px 10px;
}

.container-tags-index {
  max-width: 800px;
  margin: 50px auto;
  clear: both;
}

.tags-index-item {
  padding: 15px 35px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px #898882;
  word-wrap: break-word;
}

.tags-index-item a {
  font-size: 17px;
}

.tags-index-item a:hover {
  color: #9b9b9b;
}

/* tags/show ================================ */

.tags-show {
  padding: 20px 10px;
}

.container-tags-show {
  max-width: 800px;
  margin: 30px auto;
  clear: both;
}

.tag-name {
  text-align: center;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.tag-name a {
  font-weight: 250;
  font-size: 35px;
}

.tag-name a:hover {
  color: #9b9b9b;
}

.tags-show-item {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px #898882;
}

.post-left-tag {
  display: block;
  float: left;
  width: 20%;
  padding: 10px 15px 0 15px;
  text-align: center;
  word-wrap: break-word;
}

.post-left-tag img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.post-user-name-tag a {
  font-weight: 600;
  font-size: 15px;
}

.post-user-name-tag a:hover {
  color: #9b9b9b;
}

.post-right-tag {
  display: block;
  float: left;
  width: 80%;
  padding: 10px 30px 10px 0;
  word-wrap: break-word;
}

.post-likes-tag {
  margin-top: 8px;
  font-size: 15px;
  color: grey;
}

.post-likes-tag .liked {
  color: #FA3A3A;
}

/* tags/new ========================== */

.tag-heading {
  text-align: center;
  margin: 60px 0 20px;
  font-size: 40px;
  color: #232321;
}

.button {
  margin-top: 10px;
  text-align: center;
}
