/* tags/index */

.tags-index {
  padding: 20px 10px;
}

.container-tags-index {
  max-width: 800px;
  margin: 50px auto;
  clear: both;
}

.tags-index-item {
  padding: 15px 35px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px #898882;
  word-wrap: break-word;
}

.tags-index-item a {
  font-size: 17px;
}

.tags-index-item a:hover {
  color: #9b9b9b;
}

/* tags/show */

.tags-show {
  padding: 20px 10px;
}

.container-tags-show {
  max-width: 800px;
  margin: 30px auto;
  clear: both;
}

.tag-name {
  text-align: center;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.tag-name a {
  font-weight: 250;
  font-size: 35px;
}

.tag-name a:hover {
  color: #9b9b9b;
}

.tags-show-item {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px #898882;
}

.post-left-tag {
  display: block;
  float: left;
  width: 20%;
  padding: 10px 15px 0 15px;
  text-align: center;
  word-wrap: break-word;
}

.post-left-tag img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.post-user-name-tag a {
  font-weight: 600;
  font-size: 15px;
}

.post-user-name-tag a:hover {
  color: #9b9b9b;
}

.post-right-tag {
  display: block;
  float: left;
  width: 80%;
  padding: 10px 30px 25px 0;
  word-wrap: break-word;
}

.post-likes-tag {
  position: absolute;
  left: 10.65em;
  bottom: 0.55em;
  margin-top: 8px;
  font-size: 15px;
  color: grey;
}

.post-likes-tag .liked {
  display: inline-block;
  float: left;
  color: #FA3A3A;
}

.post-likes-tag .not-liked {
  display: inline-block;
  float: left;
  margin-bottom: 0.4em;
}

/* tags/new */

.tags-new {
  padding: 20px 10px;
}

.container-tags-new {
  margin: 20px;
}

.tags-new-heading {
  text-align: center;
  margin: 0 0 20px;
  font-size: 35px;
  font-weight: bold;
  color: #232321;
}

.container-tags-new textarea {
  padding: 5px;
}

.button {
  text-align: center;
}
