// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* tags/index ================================ */
.tags-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

/* tags/show ================================ */
.tags-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.tags-show-item .tag-name a {
  vertical-align: middle;
  font-size: 28px;
  margin-left: 15px;
}

.tags-show-item img {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 650;
}

.post-user-name a:hover {
  color: #ed8753;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}
