/* users/index */

.users-index {
  padding: 20px 10px;
}

.container-users-index {
  max-width: 800px;
  margin: 50px auto;
  clear: both;
}

.users-index-item {
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px #898882;
  width: 100%;
  height: 70px;
}

.user-left {
  float: left;
  width: 20%;
  text-align: center;
  padding: 13px 10px 10px 10px;
}

.user-left img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.user-right {
  float: left;
  width: 70%;
  text-align: left;
  padding: 25px 0 15px 5px;
  word-wrap: break-word;
}

.user-right a {
  font-size: 15px;
}

.user-right a:hover {
  color: #9b9b9b;
}

/*** users/show, /users/index_mylist ***/

.user-show {
  padding: 2.5vh 1.3vw;
  text-align: center;
}

.user-profile {
  position: fixed;
  float: left;
  width: 25%;
  height: 600px;
  // padding: 1.2vh 0 1.2vh 1vw;
  padding: 0.5vh 0 1.2vh 1vw;
  box-sizing: border-box;
  word-wrap: break-word;
}

.user {
  margin-bottom: 2vh;
}

.user img {
  width: calc(30px + 4.8vw);
  height: calc(30px + 4.8vw);
  border-radius: 50%;
  margin: 1vh 0;
  object-fit: cover;
}

.user h2 {
  font-size: calc(15px + 1.4vh);
  font-weight: 600;
}

.profile-update a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
  font-size: calc(7px + 0.7vh);
}

.bio {
  font-size: calc(10px + 1vh);
  margin-bottom: 1.4vh;
}

.user-stats {
  margin-top: 1vh;
  font-size: calc(10px + 0.5vh);
}

.user-stats a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
  font-size: calc(10px + 0.5vh);
}

.user-follow-button {
  margin: 8px 0 0 0;
}

.user-follow-button button {
  display:inline-block;
  width: auto;
  height: calc(10px + 2vh);
  border: 1px transparent;
  background-color: #ECEBEB;
  font-size: calc(11px + 0.6vh);
}

.user-follow-button button:hover {
  opacity: 0.6;
}

.user-activity-graph {
  height: 300px;
}

.graph-title {
  font-size: calc(9px + 0.5vh);
  font-weight: bold;
}

.graph-descriptions {
  font-size: calc(8px + 0.3vh);
}

.bar {
  fill: #4AEAEA;
  opacity: 0.8;
}

.yAxis path {
  fill: none;
  display: none;
}

.label {
  font-size: calc(10px + 0.5vh);
  font-weight: 600;
}

.user-buttons {
  float: right;
  width: 75%;
  position: sticky;
  position: -webkit-sticky;
  top: 9vh;
  z-index: 3;
}

.user-buttons button {
  display:inline-block;
  width: 8vw;
  height: 4.3vh;
  border: 1px transparent;
  background-color: #ECEBEB;
  font-size: calc(10px + 0.6vh);
  margin-top: 2.3vh;
}

.user-buttons button:hover {
  opacity: 0.7;
}

.user-posts-link button .clicked {
  background-color: black;
}

.container-user {
  float: right;
  width: 75%;
  padding: 1vh 5vw 3vw 4vh;
  margin: 1.2vh 0 2vw auto;
  box-sizing: border-box;
}

.container-user .posts-index-item-user {
  position: relative;
  width: 100%;
  padding: 1.2vh 2vw;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px #898882;
}

.post-left-user {
  float: left;
  width: 12%;
  word-wrap: break-word;
}

.post-left-user img {
  width: calc(12px + 5vh);
  height: calc(12px + 5vh);
  margin-top: 1.5vh;
  border-radius: 50%;
  object-fit: cover;
}

.post-right-user {
  float: left;
  width: 82%;
  padding: 1.5vh 1vw 0 1vw;
  text-align: left;
  word-wrap: break-word;
  font-size: calc(8px + 1vh);
}

.post-likes-user {
  position: absolute;
  float: left;
  width: 6%;
  left: 61vw;
  bottom: 1.5vh;
  font-size: 16px;
  color: grey;
}

.post-likes-user .liked {
  display: inline-block;
  float: left;
  color: #FA3A3A;
}

.post-likes-user .not-liked {
  display: inline-block;
  float: left;
  margin-bottom: 0.3em;
}

.no-follower {
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
}

.not-following {
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
}

/* users/new, users/edit */

.users-edit {
  padding: 20px 10px;
}

.container-users-edit {
  margin: 20px;
}

.user-new-heading {
  text-align: center;
  margin: 0 0 20px;
  font-size: 35px;
  font-weight: 600;
  color: #232321;
}

.container-users-edit textarea {
  padding: 5px;
}

.users-form input {
  margin-bottom: 15px;
}

.user-btn {
  text-align: center;
}

.button {
  text-align: center;
}

.delete-account {
  text-align: center;
  font-size: 10px;
  font-weight: 200;
}

.delete-account :hover {
  color: #A4A4A4;
  text-decoration: underline;
}

/* users/signup, login */

.users-new {
  position: fixed;
}

.users-new img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.form-heading-signup-login {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  padding:0;
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 45px;
  color: #232321;
}

.form-body-signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.form-body-login {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.form-body-signup input {
  width: 500px;
  border: 1px solid #d1d1d1;
  padding: 8px;
  color: #30302f;
  background-color: #ededed;
  opacity: 0.6;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 3px;
}

.form-body-login input {
  width: 500px;
  border: 1px solid #d1d1d1;
  padding: 8px;
  color: #30302f;
  background-color: #ededed;
  opacity: 0.6;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
}

.form-body p {
    font-weight: 500;
}

.form-body-signup p {
    font-weight: 500;
}

.signup-instructions {
  font-style: italic;
  font-size: 12px;
  opacity: 0.9;
}

.form-body-login p {
  font-weight: 500;
}
